site_name: CSC Latin America 2026 - HEP Computing
theme:
  name: material
  features:
    - navigation.instant
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight

nav:
  - Home: README.md
  - Setup:
      - Codespaces: docs/setup/codespaces.md
      - Local: docs/setup/local.md
  - Exercises:
      - Overview: docs/exercises/index.md
      - TT-E1 Debugging: docs/exercises/tt_e1_debugging.md
      - TT-E2 Docs & CI: docs/exercises/tt_e2_docs_ci.md
      - SD-E1 Parallel: docs/exercises/sd_e1_parallel.md
      - SD-E2 Benchmark + Optimise: docs/exercises/sd_e2_bench_optimize.md

markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - codehilite
  - footnotes
  - attr_list
  - md_in_html

plugins:
  - search
